<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <script src="node_modules/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        {{mensagem}}
        <input type="text" placeholder="Nome" v-model="cliente.nome">

        <button @click="salvar()">Salvar</button>
        
        <p>
            Nome: {{cliente.nome}}
        </p>

        <table>
            <thead>
                <th>Nome</th>
            </thead>
            <tbody>
                <tr v-for="c in clientes">
                    <td>{{c}}</td>
                </tr>
            </tbody>
        </table>

    </div>
    <script>
        new Vue({
            el: "#app",
            data:{
                cliente: {
                    nome: ""
                },
                clientes: [
                    "Matheus Machado",
                    "Fabrício Machado",
                    "Gabriela Lima",
                    "Danilo Rocha"
                ]
            },
            methods:{
                salvar(){
                    alert("Salvando cliente: " + this.cliente.nome)
                }
            }
        });
    </script>

</body>

</html>